In [1]:
#Q1 Explain Key Features of Python that make it popular choice of programing 
#Ans. Key Featurs of Python that makes it pupulae choice of programming:-
# 1. Easy of learning
# 2. A lot of libraries
# 3. Huge active community
# 4. Python programs run unchanged on most platforms.

In [2]:
#Q2 Describe the role of predefined Keyword and Provide Example of how the yare used in python 
#Ans. Here the some example of predefined Keywords:-
# Break for not with  is 
# False await else import pass
# None  break  except  in  raise
# True  class  finally  is  return
# and  continue  for  lambda  try
# as  def  from  nonlocal  while
# assert  del  global  not  with
# async  elif  if  or  yield

In [3]:
#Q3 Compare and contrast of mutable and immutable objects in python with example.
#Ans Mutable Obejects/ Container whose state or value can be changed after they are created 
# Also called as item assignment 
# Example list, set , Dictionary.
li=[1,2,3,4]
li[0]=25
li[2]=45
li

[25, 2, 45, 4]

In [4]:
# Immutable: objects are those objects whosevalue can not be changed
# Example: tupple , String

In [5]:
#Q4 Discuss the types of different operators in python and provide 
# examples of how they are used.
# Ans. 1.Arithmatic Operators:- 
# Example:- +, -, , /, %, **.
a=6
b=9
a+b

15

In [6]:
# 2. Comparison:
# Example:<,>,>=,<=,==.!=.
a=4
b=2
a>b

True

In [9]:
#3. Logical Operators:-
# Example:-
# Logical and
# Logical or
# Logical not
a=11
b=22
(a>9)and(b<23)

True

In [10]:
a=50
b=60
(a>10)and(b>10)

True

In [14]:
# 4. Bitwise Operators:-
#Example:-
# Bitwise AND(&)
# Bitwise OR(|)
# Bitwise XOR(^)
# Bitwise left shift(<<)
# Bitwise right shift(>>)
a=12
b=5
a&b

4

In [16]:
a|b

13

In [17]:
a^b

9

In [18]:
a<<2

48

In [19]:
a>>2

3

In [26]:
#Q5 Explain typecasting in python with example.
# Ans.The process of changing the data type of a value /object 
# Type casting is the method to convert the python variable 
#datatype into a certain data type.
st= "123"
result=int(st)
result
type(result)

int

In [31]:
tel= 123
result= float(tel)
result
type(result)

float

In [28]:
float= 56.6
result= int(float)
result
type(result)

int

In [29]:
tuple= (1, 2, 3, 5)
result= list(tuple)
result
type(result)

list

In [30]:
list=[1,2,3,4,5]
result= tuple(list)
result
type(result)

tuple

In [34]:
#Q6 How conditional statement work in python? illustrate with example.
# Ans. If the condition is true, the if block code is executed and if 
#  the condition is false, the else block code is executed.
# Types of conditional statement:-
# 1. if statement
# 2. if-else startElement
# 3. if-elif else startElement
# 4. nested if-else statement
#Example of if statement
age=15
if age>=18:
 print("You are eligible for voting")
#Example of if-else statement
age=16
if age>=18:
 print("You are eligible for vote")
else:
 print("You are not eligible for vote")

You are not eligible for vote

In [36]:
#Example of if-elif else statement
grade= 6.6
if grade>=7.0 and grade<=10.0:
 print("First Division")
elif grade>=5.0 and grade<=7.0:
 print("Second Division")
else:
 print("Third Division")

Second Division

In [39]:
#nested if-else statement
num = 6
if num > 0:
 print("The number is positive.")
else:
 if num < 0:
      print("The number is negative.")
 else:
    print("The number is zero.")

The number is positive.

In [45]:
#7Q Loop Statement:- LOOP statements execute a sequence of statements multiple times.
# Types of loop statement:-
# 1. For loop statement.
# 2. While loop statement.
item=[1,2,3,4,5]
for item in range(1, 4, 1):
    print(item)

1
2
3

In [46]:
i=1
while i<4:
    print(i)
    i+=1

1
2
3

In [48]:
#Break and Continue Statement:- Break statement stops the entire 
#process of the loop and Continue statement only stops the current iteration of the loop.
# Example of break statement:-
item=[1,2,3,4,5,6,7,8,9]
for item in range(1,10,1):
 if item%2==0:
    break
 print(item)

1

In [49]:
# Example of continue statement:-
item=[1,2,3,4,5,6,7,8,9]
for item in range(1,10,1):
 if item%2==0:
    continue
 print(item)

1
3
5
7
9